@import url("https://fonts.cdnfonts.com/css/varuna");
@import url("https://fonts.cdnfonts.com/css/sleep-talk");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-primary: hsl(0, 0%, 0%);
    --color-secondary: hsl(0, 0%, 50%);
    --color-text-base: hsl(0, 0%, 100%);
    --color-bg-primary: hsl(0, 0%, 100%);
    --color-bg-secondary: hsl(0, 0%, 100%);
  }
  /* * {
    @apply transition-all duration-300 ease-in-out;
  } */
}

.theme-black {
  --color-primary: hsl(0, 0%, 7%);
  --color-secondary: hsl(0, 0%, 53%);
  --color-bg-primary: hsl(0, 0%, 88%);
  --color-bg-secondary: hsl(0, 0%, 27%, 0.4);
}

.theme-orange {
  --color-primary: hsl(28, 84%, 53%);
  --color-secondary: hsl(54, 100%, 53%);
  --color-bg-primary: hsl(0, 0%, 100%);
  --color-bg-secondary: hsl(54, 100%, 53%, 0.4);
}

.theme-purple {
  --color-primary: hsl(210, 60%, 30%);
  --color-secondary: hsl(210, 40%, 60%);
  --color-bg-primary: hsl(60, 20%, 95%);
  --color-bg-secondary: hsl(210, 20%, 85%, 0.4);
}

.theme-green {
  --color-primary: hsl(90, 20%, 30%);
  --color-secondary: hsl(100, 30%, 40%);
  --color-bg-primary: hsl(0, 0%, 100%);
  --color-bg-secondary: hsl(130, 20%, 60%, 0.4);
}
